a {
	color: #A08F71;
}

#hidden {
	display: none;
}
:checked + #hidden {
	display: block;
}

label[for*="collapse"]{
	cursor: pointer;
}

h1 {
	margin-top: 10px;
	margin-bottom: -20px;
}

h2 {
	text-decoration: underline;
}

.row {
	display: flex;
}

.column {
	flex: 50%;
}

.topics {
	display: flex;
	justify-content: space-between;
	align-items: left;
	flex-direction: row;
}

.subjects {
	display: flex;
	justify-content: space-between;
	align-items: left;
	flex-direction: row;
}

/* TODO: align with .topics text */
.subcol {
	flex: 20%;
}

.headshot {
	width: 50%;
	height: auto;
}

.content {
	width: 66%;
}
